*{margin:0; padding:0; box-sizing:inherit;}
body{box-sizing:border-box;}

.split-image{
	position:relative;
	width:85%; height:100%;
	margin:0 auto;
	overflow:hidden;
}
/*.split-image::after{clear:both;content:'';display:table;}*/

.split-image__top,.split-image__bot{
	width:100%;
	position:absolute; top:0; left:0;
	overflow:hidden;
}
.split-image__top{z-index:2; width:50%;}
.split-image__bot{z-index:1;}

/*.split-image__divider{
	position:absolute; top:0; left:calc(50% - 2.5px);
	width:5px; height:100%;
	background-color:silver;
	z-index:3;*/
}
